{% block banner %}
	<div class="container-fluid" id="banner">
		<h1>Simmons Electric</h1>
		<h3>Lighting and Electric in Southern, CA</h3>
		<p>We Answer To A Higher Power!</p>
	</div>
{% endblock %}