<div class="container-fluid" id="footer">
	{% block footer %}
		© {{ "now"|date('Y') }} <a href="{{ path('contact') }}">Simmons Electric – Lighting and Electric in Southern, CA</a> All rights reserved.
		<p><a href="https://www.facebook.com/Simmons-Electric-561930287255806/?rf=757132171062950"><i class="fa fa-facebook-official" style="font-size:24px;color:#337ab7"></i></a></p>
	{% endblock %}
</div>