/*.affix {
	top: 0;
	width: auto;
}*/

/*.affix + .container-fluid {
	padding-top: 70px;
}*/

#banner{
	margin: 0px 15px 0px 15px;
	padding: 0px;
	color: #fff;;
}

#banner img{
	width: 100%;
}

#footer{
	text-align: center
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}