
/*This allows the banner to match the sze of the nav bar*/
#banner{
	margin: 0px 15px 0px 15px;
	padding: 0px;
	color: #fff;;
}

/*This makes the banner image fit the full size of the div*/
#banner img{
	width: 100%;
}

#footer{
	text-align: center
}

/*This removes the rounded corners from the navbar so the banner and it is even/flush*/
.navbar{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}