{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="container-fluid" id="home-container">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">Welcome to Simmons Electric</div>
			<div class="panel-body">
				<h4>The Problem:</h4>
				<p>There are a wide variety of different electrical issues that may arise in the course of your home's lifetime. Especially in older homes, wiring sometimes needs to be redone or fixed to make sure that it is of the highest safety consideration. Because electrical problems can result in fire, electrocution, or even death, it's definitely best to always hire an experienced seasoned professional when dealing with electrical work.</p>

				<h4>The Solution:</h4>
				Allow me to introduce you to Simmons Electric.  We are fully staffed with technicians that are licensed, bonded and insured.  We have been in business in the same location since 1992, and we have over <u>29 years </u> of experience in the electrical field.
				We value the reputation we have established within the community from the beginning of our existence here at Simmons Electric.   Simmons Electric has a motto of guaranteed satisfaction for every customer and we are family oriented.
				We have a slogan here at Simmons Electric that we believe says it all:  "We answer to a higher power!
				We are serving in Riverside, CA!
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Business Hours</div>
			<div class="panel-body">
				<p>Mon: 08:00 AM - 05:00 PM</p>
				<p>Tue: 08:00 AM - 05:00 PM</p>
				<p>Wed: 08:00 AM - 05:00 PM</p>
				<p>Thu: 08:00 AM - 05:00 PM</p>
				<p>Fri: 08:00 AM - 05:00 PM</p>
				<p>Sat: 08:00 AM - 05:00 PM</p>
				<p>Outside our nomral hours?  <a href="{{ path('contact') }}">Contact</a> us anyway and we'll be sure to get ahold of you ASAP!<p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

