{% extends 'AppBundle::layout.html.twig' %}
{% block stylesheets  %}
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

{% endblock %}
{% block javascripts %}
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid" id="portfolio-container">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">Examples of our work</div>
			<div class="panel-body">
				<div id="blueimp-gallery" class="blueimp-gallery">
					<!-- The container for the modal slides -->
					<div class="slides"></div>
					<!-- Controls for the borderless lightbox -->
					<h3 class="title"></h3>
					<a class="prev">‹</a>
					<a class="next">›</a>
					<a class="close">×</a>
					<a class="play-pause"></a>
					<ol class="indicator"></ol>
					<!-- The modal dialog, which will be used to wrap the lightbox content -->
					<div class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" aria-hidden="true">&times;</button>
									<h4 class="modal-title"></h4>
								</div>
								<div class="modal-body next"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default pull-left prev">
										<i class="glyphicon glyphicon-chevron-left"></i>
										Previous
									</button>
									<button type="button" class="btn btn-primary next">
										Next
										<i class="glyphicon glyphicon-chevron-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="links">
				<a href="/web/gallery/xmass_lights_1.jpg" title="Want Fantastic Lighting?" data-gallery>
					<img src="/web/gallery/thumbnails/thumb_xmass_lights_1.jpg" alt="Want Fantastic Lighting?">
				</a>
				<a href="/web/gallery/xmass_lights_2.jpg" title="Want A Lighted Paradise?" data-gallery>
					<img src="/web/gallery/thumbnails/thumb_xmass_lights_2.jpg" alt="Want A Lighted Paradise?">
				</a>
				<a href="/web/gallery/xmass_lights_3.jpg" title="Like Quiet Luminous Lighting?" data-gallery>
					<img src="/web/gallery/thumbnails/thumb_xmass_lights_3.jpg" alt="Like Quiet Luminous Lighting?">
				</a>
				<a href="/web/gallery/xmass_lights_4.jpg" title="Like Quiet Dignified Lighting?" data-gallery>
					<img src="/web/gallery/thumbnails/thumb_xmass_lights_4.jpg" alt="Like Quiet Dignified Lighting?">
				</a>
				<a href="/web/gallery/xmass_lights_5.jpg" title="Make A Child Smile!" data-gallery>
					<img src="/web/gallery/thumbnails/thumb_xmass_lights_5.jpg" alt="Make A Child Smile!">
				</a>
				<a href="/web/gallery/xmass_lights_6.jpg" title="Do You Know Where Santa Goes For Christmas?" data-gallery>
					<img src="/web/gallery/thumbnails/thumb_xmass_lights_6.jpg" alt="Do You Know Where Santa Goes For Christmas?">
				</a>
			</div>
		</div>
		<p>Like what you see?  <a href="{{ path('contact') }}">Contact</a> us today!<p>
	</div>
</div>
{% endblock %}