{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="container-fluid" id="services-container">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">Electrical Services We Provide</div>
			<div class="panel-body">
				<h4>Residential</h4>
				<ul>
					<li>Service and Repair</li>
					<li>Electrical for Remodels and Construction</li>
					<li>Complete Rewires</li>
					<li>Panel Upgrades</li>
					<li>Adding Circuits</li>
					<li>Ceiling Fans</li>
					<li>Attic Fans</li>
					<li>Whole House Fans</li>
					<li>Replacement of Outlets and Switches</li>
					<li>Home Automation New and Old Systems</li>
					<li>Interior and Exterior Lighting Installation and Design</li>
					<li>Landscape Lighting</li>
					<li>Electrical Inspections</li>
					<li>Manual and Automatic Emergency Generator Systems and Troubleshooting</li>
					<li>Christmas Light Installation</li>
				</ul>
				<br>
				<br>
				<h4>Commercial and Industrial</h4>
				<ul>
					<li>Energy Audits to Save You Money</li>
					<li>Tenant Improvement</li>
					<li>Rewiring</li>
					<li>Panels</li>
					<li>Sub-panels</li>
					<li>Adding Circuits</li>
					<li>Interior Lighting</li>
					<li>Exterior Security Lighting</li>
					<li>Sign Lighting</li>
					<li>Parking Lot Lighting</li>
					<li>Lighting Retrofits</li>
					<li>Ceiling Fans</li>
					<li>Electrical Inspections</li>
					<li>Manual and Automatic Emergency Generator Systems and Troubleshooting</li>
					<li>Christmas Light Installation</li>
				</ul>
				<br>
				<br>
				<p>Don't see what you need?  <a href="{{ path('contact') }}">Contact Us</a> anyway and we'll work with you to solve your electrical problem!<p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
